@import 'default_styles';
@import 'mixins';
// @import 'grid';


.header-container{
  background-color: #074058;
  @include prefix(box-shadow, 0px 2px 10px 0px rgba(0, 0, 0, 0.12));
  // position: absolute;
  // left: -17px;
  // top: 0px;
  // width: 1952px;
  // height: 120px;
  // z-index: 147;
}
.header {
  max-width:1320px;
  margin:0 auto;
  padding:10px;
  text-align:right;
  position:relative;
  z-index:10;
}

a.logo{
  width: 200px;
  height: 28px;
  background: url('../images/logo.png') no-repeat;
  img{display: none;}
}